<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>project_3</display-name>
  <servlet>
    <servlet-name>userCheck</servlet-name>
    <servlet-class>servlets.userCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>servlets.registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userCheck</servlet-name>
    <url-pattern>/userCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>servlets.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/ShoppingServlet</url-pattern>
  </servlet-mapping>  
</web-app>